/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_segura";
    src: url("../fonts/flaticon_segura.woff2?bd123ef745e3f928bc04ddf9b4e58141") format("woff2"),
url("../fonts/flaticon_segura.woff?bd123ef745e3f928bc04ddf9b4e58141") format("woff"),
url("../fonts/flaticon_segura.eot?bd123ef745e3f928bc04ddf9b4e58141#iefix") format("embedded-opentype"),
url("../fonts/flaticon_segura.ttf?bd123ef745e3f928bc04ddf9b4e58141") format("truetype"),
url("../fonts/flaticon_segura.svg?bd123ef745e3f928bc04ddf9b4e58141#flaticon_segura") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_segura !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-network-security:before {
    content: "\f101";
}
.flaticon-shield:before {
    content: "\f102";
}
.flaticon-ai-knowledge:before {
    content: "\f103";
}
.flaticon-intelligence:before {
    content: "\f104";
}
.flaticon-cloud:before {
    content: "\f105";
}
.flaticon-security-audit:before {
    content: "\f106";
}
.flaticon-risk:before {
    content: "\f107";
}
.flaticon-home-automation:before {
    content: "\f108";
}
.flaticon-business-report:before {
    content: "\f109";
}
.flaticon-global-marketing:before {
    content: "\f10a";
}
.flaticon-finance:before {
    content: "\f10b";
}
.flaticon-cardiogram:before {
    content: "\f10c";
}
.flaticon-bank:before {
    content: "\f10d";
}
.flaticon-connection:before {
    content: "\f10e";
}
.flaticon-smart-factory:before {
    content: "\f10f";
}
.flaticon-ecommerce:before {
    content: "\f110";
}
.flaticon-automation:before {
    content: "\f111";
}
.flaticon-adaptability:before {
    content: "\f112";
}
.flaticon-brainstorming:before {
    content: "\f113";
}
.flaticon-management:before {
    content: "\f114";
}
.flaticon-cloud-computing:before {
    content: "\f115";
}
.flaticon-cybersecurity:before {
    content: "\f116";
}
.flaticon-real-time:before {
    content: "\f117";
}
.flaticon-risk-1:before {
    content: "\f118";
}
.flaticon-dashboard:before {
    content: "\f119";
}
.flaticon-shield-1:before {
    content: "\f11a";
}
.flaticon-web-security:before {
    content: "\f11b";
}
.flaticon-email:before {
    content: "\f11c";
}
.flaticon-backup:before {
    content: "\f11d";
}
.flaticon-ransomware:before {
    content: "\f11e";
}
.flaticon-monitor:before {
    content: "\f11f";
}
.flaticon-privacy-policy:before {
    content: "\f120";
}
.flaticon-search:before {
    content: "\f121";
}
.flaticon-down-arrow:before {
    content: "\f122";
}
.flaticon-up-arrow:before {
    content: "\f123";
}
.flaticon-chevron:before {
    content: "\f124";
}
.flaticon-left-chevron:before {
    content: "\f125";
}
.flaticon-check-mark:before {
    content: "\f126";
}
.flaticon-checked:before {
    content: "\f127";
}
.flaticon-check:before {
    content: "\f128";
}
.flaticon-tag:before {
    content: "\f129";
}
.flaticon-tag-1:before {
    content: "\f12a";
}
.flaticon-price-tag:before {
    content: "\f12b";
}
.flaticon-tag-2:before {
    content: "\f12c";
}
.flaticon-calendar:before {
    content: "\f12d";
}
.flaticon-schedule:before {
    content: "\f12e";
}
.flaticon-heart:before {
    content: "\f12f";
}
.flaticon-like:before {
    content: "\f130";
}
.flaticon-facebook-app-symbol:before {
    content: "\f131";
}
.flaticon-twitter:before {
    content: "\f132";
}
.flaticon-linkedin:before {
    content: "\f133";
}
.flaticon-tik-tok:before {
    content: "\f134";
}
.flaticon-youtube:before {
    content: "\f135";
}
.flaticon-whatsapp:before {
    content: "\f136";
}
.flaticon-wechat:before {
    content: "\f137";
}
.flaticon-instagram:before {
    content: "\f138";
}
.flaticon-chat:before {
    content: "\f139";
}
.flaticon-telegram:before {
    content: "\f13a";
}
.flaticon-snapchat:before {
    content: "\f13b";
}
.flaticon-pinterest:before {
    content: "\f13c";
}
.flaticon-reddit:before {
    content: "\f13d";
}
.flaticon-quora:before {
    content: "\f13e";
}
.flaticon-close:before {
    content: "\f13f";
}
.flaticon-plus:before {
    content: "\f140";
}
.flaticon-minus:before {
    content: "\f141";
}
.flaticon-arrow:before {
    content: "\f142";
}
.flaticon-arrow-1:before {
    content: "\f143";
}
.flaticon-phone-call:before {
    content: "\f144";
}
.flaticon-location:before {
    content: "\f145";
}
.flaticon-mail:before {
    content: "\f146";
}
.flaticon-user:before {
    content: "\f147";
}
.flaticon-clock:before {
    content: "\f148";
}
.flaticon-placeholder:before {
    content: "\f149";
}
.flaticon-customer-service:before {
    content: "\f14a";
}
.flaticon-worldwide:before {
    content: "\f14b";
}
.flaticon-coffee-cup:before {
    content: "\f14c";
}
.flaticon-save-instagram:before {
    content: "\f14d";
}
.flaticon-bookmark:before {
    content: "\f14e";
}
.flaticon-group:before {
    content: "\f14f";
}
.flaticon-view:before {
    content: "\f150";
}
.flaticon-hide:before {
    content: "\f151";
}
.flaticon-padlock:before {
    content: "\f152";
}
.flaticon-unlock:before {
    content: "\f153";
}
.flaticon-star:before {
    content: "\f154";
}
.flaticon-star-1:before {
    content: "\f155";
}
.flaticon-star-2:before {
    content: "\f156";
}
.flaticon-target:before {
    content: "\f157";
}
.flaticon-setting:before {
    content: "\f158";
}
.flaticon-settings:before {
    content: "\f159";
}
.flaticon-shopping-cart:before {
    content: "\f15a";
}
.flaticon-grocery-store:before {
    content: "\f15b";
}
.flaticon-shopping-bag:before {
    content: "\f15c";
}
.flaticon-shopping-bag-1:before {
    content: "\f15d";
}
.flaticon-info:before {
    content: "\f15e";
}
.flaticon-info-1:before {
    content: "\f15f";
}
.flaticon-warning:before {
    content: "\f160";
}
.flaticon-warning-1:before {
    content: "\f161";
}
.flaticon-exclamation:before {
    content: "\f162";
}
.flaticon-menu:before {
    content: "\f163";
}
.flaticon-dots:before {
    content: "\f164";
}
.flaticon-dots-menu:before {
    content: "\f165";
}
.flaticon-edit:before {
    content: "\f166";
}
.flaticon-edit-1:before {
    content: "\f167";
}
.flaticon-pencil:before {
    content: "\f168";
}
.flaticon-edit-2:before {
    content: "\f169";
}
.flaticon-play-button-arrowhead:before {
    content: "\f16a";
}
.flaticon-play-button:before {
    content: "\f16b";
}
.flaticon-play-button-1:before {
    content: "\f16c";
}
.flaticon-download:before {
    content: "\f16d";
}
.flaticon-downloading:before {
    content: "\f16e";
}
.flaticon-download-to-storage-drive:before {
    content: "\f16f";
}
.flaticon-like-1:before {
    content: "\f170";
}
.flaticon-like-2:before {
    content: "\f171";
}
.flaticon-dislike:before {
    content: "\f172";
}
.flaticon-dislike-1:before {
    content: "\f173";
}
.flaticon-bell:before {
    content: "\f174";
}
.flaticon-bell-1:before {
    content: "\f175";
}
.flaticon-user-1:before {
    content: "\f176";
}
.flaticon-user-2:before {
    content: "\f177";
}
.flaticon-account:before {
    content: "\f178";
}
.flaticon-group-1:before {
    content: "\f179";
}
.flaticon-cyber-security:before {
    content: "\f17a";
}
.flaticon-password:before {
    content: "\f17b";
}
.flaticon-brain:before {
    content: "\f17c";
}
.flaticon-retinal-scan:before {
    content: "\f17d";
}
.flaticon-qr:before {
    content: "\f17e";
}
.flaticon-firewall:before {
    content: "\f17f";
}
.flaticon-encryption:before {
    content: "\f180";
}
.flaticon-phishing:before {
    content: "\f181";
}
.flaticon-binary:before {
    content: "\f182";
}
.flaticon-server:before {
    content: "\f183";
}
.flaticon-fingerprint:before {
    content: "\f184";
}
.flaticon-malware:before {
    content: "\f185";
}
.flaticon-online-shopping:before {
    content: "\f186";
}
.flaticon-cyber-security-1:before {
    content: "\f187";
}
.flaticon-crypto-vault:before {
    content: "\f188";
}
.flaticon-cyber-security-2:before {
    content: "\f189";
}
.flaticon-credit-card:before {
    content: "\f18a";
}
.flaticon-data-encryption:before {
    content: "\f18b";
}
.flaticon-data-encryption-1:before {
    content: "\f18c";
}
.flaticon-email-1:before {
    content: "\f18d";
}
.flaticon-fingerprint-1:before {
    content: "\f18e";
}
.flaticon-folder:before {
    content: "\f18f";
}
.flaticon-money:before {
    content: "\f190";
}
.flaticon-password-1:before {
    content: "\f191";
}
.flaticon-password-2:before {
    content: "\f192";
}
.flaticon-safe:before {
    content: "\f193";
}
.flaticon-security:before {
    content: "\f194";
}
.flaticon-browser:before {
    content: "\f195";
}
.flaticon-cctv:before {
    content: "\f196";
}
.flaticon-cryptocurrency:before {
    content: "\f197";
}
.flaticon-lock:before {
    content: "\f198";
}
.flaticon-spyware:before {
    content: "\f199";
}
.flaticon-encryption-1:before {
    content: "\f19a";
}
.flaticon-digit:before {
    content: "\f19b";
}
.flaticon-alarm:before {
    content: "\f19c";
}
.flaticon-data:before {
    content: "\f19d";
}
.flaticon-pc:before {
    content: "\f19e";
}
.flaticon-password-3:before {
    content: "\f19f";
}
.flaticon-touch:before {
    content: "\f1a0";
}
.flaticon-data-1:before {
    content: "\f1a1";
}
.flaticon-firewall-1:before {
    content: "\f1a2";
}
.flaticon-secure:before {
    content: "\f1a3";
}
.flaticon-id:before {
    content: "\f1a4";
}
.flaticon-mobile:before {
    content: "\f1a5";
}
.flaticon-worldwide-1:before {
    content: "\f1a6";
}
.flaticon-tablet:before {
    content: "\f1a7";
}
.flaticon-secure-1:before {
    content: "\f1a8";
}
.flaticon-junk:before {
    content: "\f1a9";
}
.flaticon-email-2:before {
    content: "\f1aa";
}
.flaticon-digit-1:before {
    content: "\f1ab";
}
.flaticon-email-3:before {
    content: "\f1ac";
}
.flaticon-network:before {
    content: "\f1ad";
}
.flaticon-server-1:before {
    content: "\f1ae";
}
.flaticon-secure-2:before {
    content: "\f1af";
}
.flaticon-pc-1:before {
    content: "\f1b0";
}
.flaticon-firewall-2:before {
    content: "\f1b1";
}
.flaticon-laptop:before {
    content: "\f1b2";
}
.flaticon-data-2:before {
    content: "\f1b3";
}
.flaticon-document:before {
    content: "\f1b4";
}
.flaticon-document-1:before {
    content: "\f1b5";
}
.flaticon-document-2:before {
    content: "\f1b6";
}
.flaticon-email-4:before {
    content: "\f1b7";
}
.flaticon-email-5:before {
    content: "\f1b8";
}
.flaticon-firewall-3:before {
    content: "\f1b9";
}
.flaticon-bug:before {
    content: "\f1ba";
}
.flaticon-hard:before {
    content: "\f1bb";
}
.flaticon-laptop-1:before {
    content: "\f1bc";
}
.flaticon-mobile-1:before {
    content: "\f1bd";
}
.flaticon-code:before {
    content: "\f1be";
}
.flaticon-online:before {
    content: "\f1bf";
}
.flaticon-payment:before {
    content: "\f1c0";
}
.flaticon-pop-up:before {
    content: "\f1c1";
}
.flaticon-scanner:before {
    content: "\f1c2";
}
.flaticon-secure-3:before {
    content: "\f1c3";
}
.flaticon-secure-4:before {
    content: "\f1c4";
}
.flaticon-secure-5:before {
    content: "\f1c5";
}
.flaticon-cookies:before {
    content: "\f1c6";
}
.flaticon-secure-6:before {
    content: "\f1c7";
}
.flaticon-secure-7:before {
    content: "\f1c8";
}
.flaticon-secure-8:before {
    content: "\f1c9";
}
.flaticon-twitter-1:before {
    content: "\f1ca";
}